extends layout

block content
  h1= title
  p Web Applications Social Channel

  ul
  each post in posts
    li #{post.author}: #{post.message}

  else
    li Looks like there are no posts here yet!

  h2 Submit New Post
  form(method='POST' action='/create')
            div.form-group
              label(for='name') Name:
              input#name.form-control(type='text', placeholder='Your name' name='author')
            div.form-group
              label(for='message') Post text:
              input#content.form-control(type='text' name='message')
            button.btn.btn-primary(type='submit') Submit new post