extends layout

block content
  h1= title
  p Web Applications Social Channel


  h2 What user's account do you want to use?
  form(method='POST' action='/users/create')
            div.form-group
              label(for='username') Username:
              input#name.form-control(type='text', placeholder='Your username' name='author')
            button.btn.btn-primary(type='submit') Open